<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> billborad</title>
    <link href="./asset/css/header.css" rel="stylesheet">
    <link href="./asset/css/form.css" rel="stylesheet">
    <link href="./asset/css/browser.css" rel="stylesheet"/>
    <link href="./asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./asset/css/home.css" rel="stylesheet" />
    <link href="./asset/css/user-account.css" rel="stylesheet" />
    <link href="./asset/css/common.css" rel="stylesheet" />
    <link href="./asset/css/mobile-app.css" rel="stylesheet" />
    <link href="./asset/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./asset/js/bootstrap.min.js"></script>
    <script src="./asset/js/bootstrap.bundle.js"></script>
    <script src="./asset/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

</head>
<body>
  <div class="wrapper userAccountWrap">
    <!-- HEADER PART BY BOOTSTRAP -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <div class="header-left-side" style="display: flex;">
              <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa-solid fa-bars"></i></button>
              <a class="navbar-brand" href="#"><div class="logo"><img src="./asset/images/client/logo.png"></div></a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="#">Our Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                </ul>
                </div>
          </div>
              <div class="header-right-side">
                <ul class="navbar-nav-list">
                  <li>
                    <a class="nav-link" href="./user-account.html" target="blank"><img src="./asset/images/client/search.png"></a>
                  </li>
                  <li >
                    <img src="./asset/images/client/bell.png"><span class="notification-circle">2</span></a>
                  </li>
               
                    <li >
                        <a class="nav-link" href="#"><span class="profile"><img src="asset/images/user-profile.png" ></span></a>
                      </li>
                    
                      <li >
                        <img src="./asset/images/client/logout.svg"></a>
                      </li>
                </ul>
                
              </div>
   
      </div>
  </nav>
<!-- END -->


    
        <div class="billboard-tex">
          <h3 class="text-bold">Selection Panel<span> 
      <div class="main-box">
        <div class="list-billboard"><img src="./asset/images/newpic/clenticon1.svg"><a href="#">Add</a></div>
        
        


      </div> 
    </div>
    <div class="booking-heading">
      <h4>Package-only Billboards</h4>
     </div>
     <div class="wrapper">
      <div class="container-package">
      
          <div class="print-service-wrap recent-app-mobile ">
              <div class="container open-booking pack-only " id="container-row-after">
                  <div class="print-service-container campaign-coca-1">
                      <ul>
                          <li>
                            <input type="checkbox" class="large-checkbox rounded">
                              <!-- <div class="dimension">
                                  Dimensions : 3 x 6</div> -->
                              <div class="print-box">
                                  <img src="asset/images/1-img.png" id="print-box">
                                  <div class="print-info">
                                  
                                    
                                      <ul>
                                          <li><span
                                                  class="compny-name">ID: #12236</span><small
                                                  class="validity vl-new">2400$/30 days</small></li>
                                          <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                  Alwar (Rajasthan) - 100 002</span></li>
                                                  <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                    <small class="ref-no">123445354234
                                                      Media Owner Ref No
                                                      </small></span></li>
    
                                      </ul>
                                  </div>
                              </div>
                          </li>
                          <li>
                            <input type="checkbox" class="large-checkbox rounded">
                              <!-- <div class="dimension">
                                  Dimensions : 3 x 6</div> -->
                              <div class="print-box">
                                  <img src="asset/images/1-img.png" id="print-box">
                                  <div class="print-info">
                                  
                                    
                                      <ul>
                                          <li><span
                                                  class="compny-name">ID: #12236</span><small
                                                  class="validity vl-new">2400$/30 days</small></li>
                                          <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                  Alwar (Rajasthan) - 100 002</span></li>
                                                  <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                    <small class="ref-no">123445354234
                                                      Media Owner Ref No
                                                      </small></span></li>
    
                                      </ul>
                                  </div>
                              </div>
                          </li>
                          <li>
                            <input type="checkbox" class="large-checkbox rounded">
                              <!-- <div class="dimension">
                                  Dimensions : 3 x 6</div> -->
                              <div class="print-box">
                                  <img src="asset/images/1-img.png" id="print-box">
                                  <div class="print-info">
                                  
                                    
                                      <ul>
                                          <li><span
                                                  class="compny-name">ID: #12236</span><small
                                                  class="validity vl-new">2400$/30 days</small></li>
                                          <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                  Alwar (Rajasthan) - 100 002</span></li>
                                                  <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                    <small class="ref-no">123445354234
                                                      Media Owner Ref No
                                                      </small></span></li>
    
                                      </ul>
                                  </div>
                              </div>
                          </li>
                          <li>
                            <input type="checkbox" class="large-checkbox rounded">
                              <!-- <div class="dimension">
                                  Dimensions : 3 x 6</div> -->
                              <div class="print-box">
                                  <img src="asset/images/1-img.png" id="print-box">
                                  <div class="print-info">
                                  
                                    
                                      <ul>
                                          <li><span
                                                  class="compny-name">ID: #12236</span><small
                                                  class="validity vl-new">2400$/30 days</small></li>
                                          <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                  Alwar (Rajasthan) - 100 002</span></li>
                                                  <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                    <small class="ref-no">123445354234
                                                      Media Owner Ref No
                                                      </small></span></li>
    
                                      </ul>
                                  </div>
                              </div>
                          </li>
                      </ul>
                      <ul>
                        <li>
                          <input type="checkbox" class="large-checkbox rounded">
                            <!-- <div class="dimension">
                                Dimensions : 3 x 6</div> -->
                            <div class="print-box">
                                <img src="asset/images/1-img.png" id="print-box">
                                <div class="print-info">
                                
                                  
                                    <ul>
                                        <li><span
                                                class="compny-name">ID: #12236</span><small
                                                class="validity vl-new">2400$/30 days</small></li>
                                        <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                Alwar (Rajasthan) - 100 002</span></li>
                                                <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                  <small class="ref-no">123445354234
                                                    Media Owner Ref No
                                                    </small></span></li>
  
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                          <input type="checkbox" class="large-checkbox rounded">
                            <!-- <div class="dimension">
                                Dimensions : 3 x 6</div> -->
                            <div class="print-box">
                                <img src="asset/images/1-img.png" id="print-box">
                                <div class="print-info">
                                
                                  
                                    <ul>
                                        <li><span
                                                class="compny-name">ID: #12236</span><small
                                                class="validity vl-new">2400$/30 days</small></li>
                                        <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                Alwar (Rajasthan) - 100 002</span></li>
                                                <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                  <small class="ref-no">123445354234
                                                    Media Owner Ref No
                                                    </small></span></li>
  
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                          <input type="checkbox" class="large-checkbox rounded">
                            <!-- <div class="dimension">
                                Dimensions : 3 x 6</div> -->
                            <div class="print-box">
                                <img src="asset/images/1-img.png" id="print-box">
                                <div class="print-info">
                                
                                  
                                    <ul>
                                        <li><span
                                                class="compny-name">ID: #12236</span><small
                                                class="validity vl-new">2400$/30 days</small></li>
                                        <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                Alwar (Rajasthan) - 100 002</span></li>
                                                <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                  <small class="ref-no">123445354234
                                                    Media Owner Ref No
                                                    </small></span></li>
  
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                          <input type="checkbox" class="large-checkbox rounded">
                            <!-- <div class="dimension">
                                Dimensions : 3 x 6</div> -->
                            <div class="print-box">
                                <img src="asset/images/1-img.png" id="print-box">
                                <div class="print-info">
                                
                                  
                                    <ul>
                                        <li><span
                                                class="compny-name">ID: #12236</span><small
                                                class="validity vl-new">2400$/30 days</small></li>
                                        <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                Alwar (Rajasthan) - 100 002</span></li>
                                                <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                  <small class="ref-no">123445354234
                                                    Media Owner Ref No
                                                    </small></span></li>
  
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                      
                      </div>
                      </div>
                      </div></div>
                    
                      <div class="active-sh">
                        <h4>Active Schedules</h4>
    
                      </div>
                 
              
                    <div class="print-service-wrap recent-app-mobile ">
                      <div class="container open-booking pack-only " id="container-row-after">
                          <div class="print-service-container campaign-coca-1">
                              <ul>
                                  <li>
                                    <input type="checkbox" class="large-checkbox rounded">
                                      <!-- <div class="dimension">
                                          Dimensions : 3 x 6</div> -->
                                      <div class="print-box">
                                          <img src="asset/images/1-img.png" id="print-box">
                                          <div class="print-info">
                                          
                                            
                                              <ul>
                                                  <li><span
                                                          class="compny-name">ID: #12236</span><small
                                                          class="validity vl-new">2400$/30 days</small></li>
                                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                          Alwar (Rajasthan) - 100 002</span></li>
                                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                            <small class="ref-no">123445354234
                                                              Media Owner Ref No
                                                              </small></span></li>
            
                                              </ul>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                    <input type="checkbox" class="large-checkbox rounded">
                                      <!-- <div class="dimension">
                                          Dimensions : 3 x 6</div> -->
                                      <div class="print-box">
                                          <img src="asset/images/1-img.png" id="print-box">
                                          <div class="print-info">
                                          
                                            
                                              <ul>
                                                  <li><span
                                                          class="compny-name">ID: #12236</span><small
                                                          class="validity vl-new">2400$/30 days</small></li>
                                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                          Alwar (Rajasthan) - 100 002</span></li>
                                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                            <small class="ref-no">123445354234
                                                              Media Owner Ref No
                                                              </small></span></li>
            
                                              </ul>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                    <input type="checkbox" class="large-checkbox rounded">
                                      <!-- <div class="dimension">
                                          Dimensions : 3 x 6</div> -->
                                      <div class="print-box">
                                          <img src="asset/images/1-img.png" id="print-box">
                                          <div class="print-info">
                                          
                                            
                                              <ul>
                                                  <li><span
                                                          class="compny-name">ID: #12236</span><small
                                                          class="validity vl-new">2400$/30 days</small></li>
                                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                          Alwar (Rajasthan) - 100 002</span></li>
                                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                            <small class="ref-no">123445354234
                                                              Media Owner Ref No
                                                              </small></span></li>
            
                                              </ul>
                                          </div>
                                      </div>
                                  </li>
                                  <li>
                                    <input type="checkbox" class="large-checkbox rounded">
                                      <!-- <div class="dimension">
                                          Dimensions : 3 x 6</div> -->
                                      <div class="print-box">
                                          <img src="asset/images/1-img.png" id="print-box">
                                          <div class="print-info">
                                          
                                            
                                              <ul>
                                                  <li><span
                                                          class="compny-name">ID: #12236</span><small
                                                          class="validity vl-new">2400$/30 days</small></li>
                                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                          Alwar (Rajasthan) - 100 002</span></li>
                                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                            <small class="ref-no">123445354234
                                                              Media Owner Ref No
                                                              </small></span></li>
            
                                              </ul>
                                          </div>
                                      </div>
                                  </li>
                              </ul>
                              <ul>
                                <li>
                                  <input type="checkbox" class="large-checkbox rounded">
                                    <!-- <div class="dimension">
                                        Dimensions : 3 x 6</div> -->
                                    <div class="print-box">
                                        <img src="asset/images/1-img.png" id="print-box">
                                        <div class="print-info">
                                        
                                          
                                            <ul>
                                                <li><span
                                                        class="compny-name">ID: #12236</span><small
                                                        class="validity vl-new">2400$/30 days</small></li>
                                                <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                        Alwar (Rajasthan) - 100 002</span></li>
                                                        <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                          <small class="ref-no">123445354234
                                                            Media Owner Ref No
                                                            </small></span></li>
          
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                  <input type="checkbox" class="large-checkbox rounded">
                                    <!-- <div class="dimension">
                                        Dimensions : 3 x 6</div> -->
                                    <div class="print-box">
                                        <img src="asset/images/1-img.png" id="print-box">
                                        <div class="print-info">
                                        
                                          
                                            <ul>
                                                <li><span
                                                        class="compny-name">ID: #12236</span><small
                                                        class="validity vl-new">2400$/30 days</small></li>
                                                <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                        Alwar (Rajasthan) - 100 002</span></li>
                                                        <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                          <small class="ref-no">123445354234
                                                            Media Owner Ref No
                                                            </small></span></li>
          
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                  <input type="checkbox" class="large-checkbox rounded">
                                    <!-- <div class="dimension">
                                        Dimensions : 3 x 6</div> -->
                                    <div class="print-box">
                                        <img src="asset/images/1-img.png" id="print-box">
                                        <div class="print-info">
                                        
                                          
                                            <ul>
                                                <li><span
                                                        class="compny-name">ID: #12236</span><small
                                                        class="validity vl-new">2400$/30 days</small></li>
                                                <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                        Alwar (Rajasthan) - 100 002</span></li>
                                                        <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                          <small class="ref-no">123445354234
                                                            Media Owner Ref No
                                                            </small></span></li>
          
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                  <input type="checkbox" class="large-checkbox rounded">
                                    <!-- <div class="dimension">
                                        Dimensions : 3 x 6</div> -->
                                    <div class="print-box">
                                        <img src="asset/images/1-img.png" id="print-box">
                                        <div class="print-info">
                                        
                                          
                                            <ul>
                                                <li><span
                                                        class="compny-name">ID: #12236</span><small
                                                        class="validity vl-new">2400$/30 days</small></li>
                                                <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                                        Alwar (Rajasthan) - 100 002</span></li>
                                                        <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78
                                                          <small class="ref-no">123445354234
                                                            Media Owner Ref No
                                                            </small></span></li>
          
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                              
                              </div>
                              </div>
                              </div></div>
  
         
    
           
            
                        <footer>
           
                            <div class="footer">
                                Owned by Billboard App Company Name<br>
                © 2022 Billboard, All Rights Reserved.
                            
                        </div>
                    </footer>
                      
    </body>

    </html>
    