<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> billborad</title>
    
    <link href="./asset/css/header.css" rel="stylesheet">
    <link href="./asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./asset/css/home.css" rel="stylesheet" />
    <link href="./asset/css/user-account.css" rel="stylesheet" />
    <link href="./asset/css/common.css" rel="stylesheet" />
    <link href="./asset/css/mobile-app.css" rel="stylesheet" />
    <link href="./asset/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./asset/js/bootstrap.min.js"></script>
    <script src="./asset/js/bootstrap.bundle.js"></script>
    <script src="./asset/js/bootstrap.bundle.min.js"></script>
    

</head>
<body>
  

    <!-- navbar start -->
    
        <div class="nav-bar-menu">
          <div class="list-nav">
            <ul>
              <li><a class="active" href="./6-user-account-search-at.html"><em><img src="./asset/images/client/blue/browse.svg" /></em><span>Browse</span></a></li>
            <li><a href="./9-camaign-inventry.html"><em><img src="./asset/images/client/blue/inventory.svg" /></em>
              <!-- <span class="notification-circle icon">32</span> -->
              <span>Inventory</span></a></li>
            <li><a href="./11_1-camaign-Proposals.html"><em><img src="./asset/images/client/blue/pro.svg" /></em>
              <!-- <span class="notification-circle icon">3</span> -->

              <span >Proposals</span></a></li>
            <li><a href="12_1-user board-details-billboard -active.html"><em><img src="./asset/images/client/blue/schedule.svg" /></em>
              <!-- <span class="notification-circle icon">25</span> -->
              <span>Schedules</span></a></li>
            <li><a href="#"><em><img src="./asset/images/client/blue/chat.svg" /></em>
              <!-- <span class="notification-circle icon">15</span> -->
              <span>Chats</span></a></li>
            <li><a href="./15_book-later.html"><em><img src="./asset/images/client/blue/heart.svg" /></em><span>Wishlist</span></a></li>
            <li><a href="./16-user-billborad-campaigns..html"><em><img src="./asset/images/client/blue/campaing.svg" /></em><span>Campaign</span></a></li>
            <li><a href="#"><em><img src="./asset/images/client/blue/auction.svg" /></em><span>Auctions</span></a></li>
            <li><a href="./16-user-billborad-campaigns..html"><em><img src="./asset/images/client/blue/team.svg"></em><span>Team</span></a></li>
            <!-- <li><a href="#"><em><img src="./asset/images/icon/setting-icon.svg" /></em><span>Setting</span></a></li> -->
            
          </ul>

          </div>

        </div>
          <!-- navbar end -->
      
        <centre class="horizontal">
            <hr>
        </centre>
    
   
    </body>

    </html>
    