<!-- COD DONE BY TANISHA -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
   <link href="./asset/css/all.min.css" rel="stylesheet">
   <link href="./asset/css/popup_client.css" rel="stylesheet">
   <link href="./asset/css/bootstrap.min.css" rel="stylesheet">
   <link href="asset/css/clientpopup.css" rel="stylesheet">
   <link href="./asset/css/Campaign-Inventory.css" rel="stylesheet">
</head>
<body>
  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="integrate-added-to-proposals">
        <div class="modal-header">
          <h5 class="modal-title confirm" id="staticBackdropLabel">Add New Add-ons</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body sub-popup">
           <input type="text" placeholder="Enter name ">
        </div>
        <div class="yes-no-button subs">
          <button type="button">Submit</button></a>
          
        </div>
      </div>
    </div>
  </div>


  <script src="asset/js/all.min.js">

  </script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="asset/js/bootstrap.bundle.min.js"></script>
  <script>
      $(document).ready(function(){
          $("#staticBackdrop").modal('show');
      });
  </script>
  
</body>
</html>