<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> billborad</title>
    <link href="./asset/css/form.css" rel="stylesheet">
    <link href="./asset/css/header.css" rel="stylesheet">
    <link href="./asset/css/form.css" rel="stylesheet">
    <link href="./asset/css/browser.css" rel="stylesheet"/>
    <link href="./asset/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./asset/css/home.css" rel="stylesheet" />
    <link href="./asset/css/user-account.css" rel="stylesheet" />
    <link href="./asset/css/common.css" rel="stylesheet" />
    <link href="./asset/css/mobile-app.css" rel="stylesheet" />
    <link href="./asset/css/responsive.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="./asset/js/bootstrap.min.js"></script>
    <script src="./asset/js/bootstrap.bundle.js"></script>
    <script src="./asset/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

</head>
<body>
    
  <div class="wrapper userAccountWrap">
    <!-- HEADER PART BY BOOTSTRAP -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
          <div class="header-left-side" style="display: flex;">
              <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <i class="fa-solid fa-bars"></i></button>
              <a class="navbar-brand" href="#"><div class="logo"><img src="./asset/images/client/logo.png"></div></a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="#">Our Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                  </li>
                </ul>
                </div>
          </div>
              <div class="header-right-side">
                <ul class="navbar-nav-list">
                  <li>
                    <a class="nav-link" href="./user-account.html" target="blank"><img src="./asset/images/client/search.png"></a>
                  </li>
                  <li >
                    <img src="./asset/images/client/bell.png"><span class="notification-circle">2</span></a>
                  </li>
               
                    <li >
                        <a class="nav-link" href="#"><span class="profile"><img src="asset/images/user-profile.png" ></span></a>
                      </li>
                    
                      <li >
                        <img src="./asset/images/client/logout.svg"></a>
                      </li>
                </ul>
                
              </div>
   
      </div>
  </nav>
<!-- END -->

  <!-- navbar start -->

  <div class="nav-bar-menu">
    <div class="list-nav">
      <ul>
        <li><a class="active" href="./6-user-account-search-at.html"><em><img src="./asset/images/client/blue/browse.svg" /></em><span>Browse</span></a></li>
      <li><a href="./9-camaign-inventry.html"><em><img src="./asset/images/client/blue/inventory.svg" /></em>
        <!-- <span class="notification-circle icon">32</span> -->
        <span>Inventory</span></a></li>
      <li><a href="./11_1-camaign-Proposals.html"><em><img src="./asset/images/client/blue/pro.svg" /></em>
        <!-- <span class="notification-circle icon">3</span> -->

        <span >Proposals</span></a></li>
      <li><a href="12_1-user board-details-billboard -active.html"><em><img src="./asset/images/client/blue/schedule.svg" /></em>
        <!-- <span class="notification-circle icon">25</span> -->
        <span>Schedules</span></a></li>
      <li><a href="#"><em><img src="./asset/images/client/blue/chat.svg" /></em>
        <!-- <span class="notification-circle icon">15</span> -->
        <span>Chats</span></a></li>
      <li><a href="./15_book-later.html"><em><img src="./asset/images/client/blue/heart.svg" /></em><span>Wishlist</span></a></li>
      <li><a href="./16-user-billborad-campaigns..html"><em><img src="./asset/images/client/blue/campaing.svg" /></em><span>Campaign</span></a></li>
      <li><a href="#"><em><img src="./asset/images/client/blue/auction.svg" /></em><span>Auctions</span></a></li>
      <li><a href="./16-user-billborad-campaigns..html"><em><img src="./asset/images/client/blue/team.svg"></em><span>Team</span></a></li>
      <!-- <li><a href="#"><em><img src="./asset/images/icon/setting-icon.svg" /></em><span>Setting</span></a></li> -->
      
    </ul>

    </div>

  </div>
    <!-- navbar end -->

  
    <centre class="horizontal">
        <hr>
    </centre>
      <div class="spacing-for-mobile">
        <div class="user-account">
            <div class="user-cell">
                <div class="select-product">
                    <ul>
                        <li><a href="./home_with_billboard.html">Billboard</a></li>
                        <li class="active"><a href="#">Printing</a></li>
                        <li><a href="./flighting_browser.html">Flighting</a></li>
                    </ul>
        
                </div>
                
            </div>
      
        </div>
        <div class="billboard-tex">
          <h3 class="text-bold">Browse your Services<span> 
      <div class="main-box">
        <div class="list-billboard"><img src="./asset/images/newpic/clenticon1.svg"><a href="./recent_draft_printing.html">Add your Service</a></div>
       



      </div> 
    </div>
    <div class="billboard-details-container active-schedules">

    <div class="print-service-wrap recent-app-mobile ">
      <div class="container pack-only " id="container-row-after">
          <div class="print-service-container campaign-coca-1 owner-production">
              <ul>
                  <li>
                   
                      <!-- <div class="dimension">
                          Dimensions : 3 x 6</div> -->
                      <div class="print-box">
                          <img src="asset/images/1-img.png" id="print-box">
                          <div class="print-info">
                          
                            
                              <ul>
                                  <li><span
                                          class="compny-name size-re">ABC Papers and Postings</span></li>
                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                          Alwar (Rajasthan) - 100 002</span></li>
                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78</span></li>

                              </ul>
                          </div>
                      </div>
                  </li>
                  <li>
                    
                    <!-- <div class="dimension">
                      Dimensions : 3 x 6</div> -->
                      <div class="print-box">
                        
                          <img src="asset/images/3-img.png" id="print-box"/>
                          <div class="print-info">
                            
                           
                              <ul>
                                  <li><span
                                          class="compny-name size-re">ABC Papers and Postings</span></li>
                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                          Alwar (Rajasthan) - 100 002</span></li>
                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78</li>
                              </ul>
                          </div>
                      </div>
                  </li>
                  <li>
                    
                    <!-- <div class="dimension">
                      Dimensions : 3 x 6</div> -->
                      <div class="print-box">
                        
                          <img src="asset/images/3-img.png" id="print-box"/>
                          <div class="print-info">
                            
                           
                              <ul>
                                  <li><span
                                          class="compny-name size-re">ABC Papers and Postings</span></li>
                                  <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                          Alwar (Rajasthan) - 100 002</span></li>
                                          <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78</li>
                              </ul>
                          </div>
                      </div>
                  </li>
                  <li>
                    
                    <!-- <div class="dimension">
                    Dimensions : 3 x 6</div> -->
                    <div class="print-box">
                      
                        <img src="asset/images/3-img.png" id="print-box"/>
                        <div class="print-info">
                            
                          
                            <ul>
                                <li><span
                                        class="compny-name size-re">ABC Papers and Postings</span></li>
                                <li><img src="asset/images/print/Vector.svg" /><span>123 B-block, elit Nagar 2,
                                        Alwar (Rajasthan) - 100 002</span></li>
                                        <li class="star"><img src="./asset/images/icon/yellow-star.svg" id="yellow-star" width="8%" /><span class="rate">4.78</span></li>
                            </ul>
                        </div>
                    </div>
                </li></ul>
              
              </div>
              </div>
              </div></div>

   
              </div> 
    <!-- <div class="centre-text">
      No Billboards listed yet...
    </div> -->
    
           
            
                        <footer>
           
                            <div class="footer">
                                Owned by Billboard App Company Name<br>
                © 2022 Billboard, All Rights Reserved.
                            
                        </div>
                    </footer>
                      
    </body>

    </html>
    